body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  min-height: fit-content;
  flex: auto;
}
/* navbar */
nav {
  background-color: #fff;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
}

.profile {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info {
  display: block;
}

.profile-info p {
  margin: 0;
  font-size: 12px;
  color: #333;
}
.email {
  font-weight: lighter;
}

/* Konten */
.konten {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  background-color: #722fe7;
  color: #fff;
  margin-top: 100px;
  border: 0;
  border-radius: 5px;
  height: 50%;
  margin-left: 3rem;
  margin-right: 0 auto;
}
.user {
  width: 90px;
  height: auto;
}
.right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  background-color: #fff;
}

.btnprofile {
  margin-left: 3rem;
  padding: 5px;
  background-color: transparent;
  border-width: 3px;
  border-color: black;
}

form {
  display: flex;
  min-width: 80%;
  justify-content: center;
  flex-direction: column;
}

label {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

input[id="name"],
input[id="email"],
input[id="telp"],
input[id="alamat"],
input[id="asal"],
textarea {
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 4px;
  border: 0;
  width: 100%;
  background-color: #f3f3f3;
  resize: vertical;
}

input[id="about"],
textarea {
  justify-content: center;
  margin-left: 10px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 4px;
  border: 0;
  width: 10rem;
  background-color: #f3f3f3;
}

input[id="tgl"],
textarea {
  padding: 10px;
  margin-bottom: 30px;
  margin-right: 3rem;
  border-radius: 4px;
  border: 0;
  width: 25%;
  background-color: #f3f3f3;
  resize: vertical;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  min-width: 100%;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  background-color: white;
  border-radius: 50px;
  padding: 20px 20px;
  margin-bottom: 20px;
  text-align: left;
}

.option:focus {
  outline: none;
  background-color: gray;
  color: white;
}

button[type="submit"] {
  background-color: #7227fe;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #7538e8;
}

.input-col {
  margin-left: 10rem;
}
