@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
nav {
  background-color: #fff;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: bold;
  min-height: auto;
  flex: auto;
}
.btn-purple {
  background-color: #7227fe;
  color: #fff;
  border-radius: 20px;
  font-size: 15px;
  text-align: center;
  width: 100px;
  padding: 5px;
}
.btn-purple:hover {
  background-color: #5c1df3;
  color: #fff;
}
/* style untuk HERO/landing */
/* style Beranda /landing */
.top-beranda {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  /* background-color: #144272; */
  /* position: relative; */
  background-image: url("../assets/landingbg.png");
}

.top-container {
  padding-top: 0px;
}

.title-top-beranda-1 {
  font-size: 38px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #7227fe;
  margin-bottom: 5px;
}

.title-top-beranda-2 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #7227fe;
  margin-bottom: 5px;
}

/* Registrasion */
.registration-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #7227fe36;
  color: #7227fe;
  padding: 30px;
  height: 15rem;
  text-align: center;
}

.registration-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.registration-section p {
  font-size: 16px;
  margin-bottom: 20px;
}

.register-button {
  color: white;
  background-color: #7227fe;
  border-radius: 5px;
  border: 2px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* style untuk tujuan */
.boxtujuan {
  margin-top: 5rem;
  margin-left: 100px;
  margin-right: 100px;
}
.YAHA {
  text-align: center;
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #7227fe;
}
.tujuancard {
  padding: 300px;
}
.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}
.card1 {
  align-items: flex-start;
  margin-top: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.card2 {
  align-items: flex-end;
  margin-top: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
}

/* css kelebihan e-magang */
.kelebihan {
  margin-bottom: 70px;
}
.Yuhu {
  flex-wrap: wrap;
  text-align: center;
  padding-top: 120px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #7227fe;
}
.title {
  flex-wrap: wrap;
  text-align: center;
  color: #7227fe;
  padding: auto;
  font-size: medium;
  font-weight: lighter;
}
.kartu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
}
.kartu {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 280px;
  height: 400px;
  left: 18px;
  padding: 10px;
  margin-top: 20px;
  justify-content: center;
  margin: 20px;
}
.kartu img {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 150px;
  height: 142px;
  margin: auto;
}
.card-description {
  text-align: center;
  margin-top: 20px;
}
.card-description h3 {
  font-size: 20px;
  margin: 10px;
  color: #7227fe;
  font-weight: bolder;
}

.card-description p {
  font-size: 16px;
  margin: 10px;
  color: #7227fe;
  font-weight: lighter;
}

/* CSS Untuk section mokcup */
.mockup {
  background-color: #7227fe;
  display: flex;
}
.Apps {
  background-color: #7227fe;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

/* CSS untuk section kontak kami */
.contact-section {
  padding: 80px 0;
  margin-bottom: 90px;
}
.contact-section p {
  margin-bottom: 70px;
}

.contact-section .container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.contact-form {
  display: inline-block;
  justify-content: space-between;
  text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  color: #727272;
  border: 0;
  border-radius: 5px;
}

textarea {
  height: 150px;
  background-color: #f3f3f3;
  color: #727272;
  border: 0;
  border-radius: 5px;
}

button {
  background-color: #7227fe;
  color: #fff;
  font-weight: bolder;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

/* footer */
.section-footer-top {
  background-color: #7227fe36;
}

.section-footer-bottom {
  background-color: #7227fe;
}

hr.hr-footer {
  border-top: 1px solid #a5a5a5;
}

.footer-left-title {
  color: #7227fe;
  font-size: 14pt;
  font-weight: bold;
}

.footer-left-content {
  color: #7227fe;
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
}

.footer-copyright {
  font-size: 10pt;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 992px) {
  .content-top-section {
    font-size: 16px;
  }
}


.footer-left-content a {
  text-decoration: none;
  color: inherit;
}

.icon-footer-facebook:link {
  background-color: #3b579d;
  text-decoration: none;
}

.icon-footer-facebook:hover,
.icon-footer-facebook:focus {
  background: #2d4278;
  color: #ffffff;
}

.icon-footer-twitter:link {
  background-color: #2caae1;
  text-decoration: none;
}

.icon-footer-twitter:hover,
.icon-footer-twitter:focus {
  background: #1b8dbf;
  color: #ffffff;
}

.icon-footer-instagram:link {
  background-color: #c32aa3;
  text-decoration: none;
}

.icon-footer-instagram:hover,
.icon-footer-instagram:focus {
  background: #99207f;
  color: #ffffff;
}

.icon-footer-youtube:link {
  background-color: #e52d27;
  text-decoration: none;
}

.icon-footer-youtube:hover,
.icon-footer-youtube:focus {
  background: #c21d17;
  color: #ffffff;
}
