/* POP UP */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
#popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#popup form {
  background-color: white;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#popup h2 {
  margin-top: 0;
}

#popup input[type="file"] {
  display: block;
  margin-bottom: 10px;
}

#popup button[type="submit"] {
  background-color: #7227fe;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
#close-popup {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#close-popup:hover {
  color: red;
}
/* AKHIR POP UP */


.isiprofile{
  display: flex;
  background-color: #f8f9fa;
  justify-content: center;
}

.row{
  margin: 20px;
}

.col-md-4 {
  margin: 0;
}

.col-md-8 {
  margin: 0;
  justify-content: center;
}

.bg-purple {
  background-color: #7227fe;
  color: #fff;
}

.bg-light {
  background-color: #f8f9fa;
}

.profileoke {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px auto;
  overflow: hidden;
  border-radius: 50%;
}

#profile-picture-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gantifotopro {
  text-align: center;
  margin-top: 20px;
}

.deskripsipro {
  color: #7227fe;
  line-height: 2;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
}

label {
  font-weight: bold;
}

input[type="name"],
input[type="email"],
input[type="asal"],
input[type="telp"],
input[type="alamat"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  box-sizing: border-box;
}

input[type="name"]:focus,
input[type="email"]:focus,
input[type="asal"]:focus,
input[type="asal"]:focus,
input[type="telp"]:focus,
input[type="alamat"]:focus {
  outline: none;
  border: 1px solid #7227fe;
}

.form-check-input {
  margin-right: 10px;
}

.btn-outline-light {
  color: #fff;
  border-color: #fff;
}

.btn-outline-light:hover {
  color: #7227fe;
  background-color: #fff;
  border-color: #fff;
}

.btn-primary {
  background-color: #7227fe;
  border-color: #7227fe;
  color: #fff;
}

.btn-submit {
  color: var(--bs-white);
  background-color: #7227fe;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  margin-top: 2rem;
}
.btn-batal {
  color: var(--bs-white);
  background-color: #f90c0c;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  margin-top: 2rem;
}

.btn-primary:hover {
  background-color: #fff;
  color: #7227fe;
  border-color: #7227fe;
}
/* Untuk perangkat dengan lebar layar kurang dari atau sama dengan 576px */
@media (max-width: 576px) {
  .profile {
    width: 100px;
    height: 100px;
    margin: 20px auto;
  }
  .ganti {
    margin-top: 10px;
  }
  .form-group {
    margin-bottom: 10px;
  }
}

/* Untuk perangkat dengan lebar layar antara 577px dan 768px */
@media (min-width: 577px) and (max-width: 768px) {
  .profile {
    width: 120px;
    height: 120px;
    margin: 30px auto;
  }
  .ganti {
    margin-top: 15px;
  }
}

/* Untuk perangkat dengan lebar layar lebih dari atau sama dengan 769px */
@media (min-width: 769px) {
  .profile {
    width: 150px;
    height: 150px;
    margin: 50px auto;
  }
  .ganti {
    margin-top: 20px;
  }
}
