/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.container {
  margin-top: 6rem;
  background-color: #ebe8f2;
}
.nilai-magang {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000000;
  text-align: center;
  margin-bottom: 3rem;
}

.judul h1 {
  font-size: 25px;
  margin-top: 0;
  color: #000000;
}

.datamentor {
  padding-bottom: 20px;
}

h4 {
  font-weight: 900;
  font-size: small;
  padding-bottom: 20px;
}
.sertifikat {
  background-color: #ebe8f2;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 29cm;
  height: 21cm;
  position: relative;
  overflow: hidden;
  margin-top: 3rem;
}

.svg-top,
.svg-bottom {
  position: absolute;
  width: 100%;
  height: auto;
}

.svg-top {
  top: 0;
}

.svg-bottom {
  bottom: 0;
}

.logo {
  width: 50px;
  height: auto;
  margin-bottom: 20px;
}

.konten-sertif {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top:2px;
}

.bold{
  font-size: 25px;
  font-weight: bold;
  font-family: "Font Sertif";
  margin: 0;
}
.ok {
  margin: 0;
  font-size: 20px;
  font-family: "Font Sertif"; /* Ganti dengan nama font sertifikat yang Anda inginkan */
}
.dec{
  font-size: 23px;
  font-weight: bold;
  font-family: "Font Sertif";
}
.medal {
  width: 200px;
  height: auto;
  margin-top: 10px;

}

.judul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}

.logo {
  height: 70px;
  width: auto;
}

.judul h1 {
  font-family: "Times New Roman", serif;
  font-size: 36px;
  text-align: center;
  margin-top: 0;
}

.unduh {
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  text-align: center;
}

.tombolunduhsertif {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  justify-content: center;
}

@media (max-width: 768px) {
  .sertifikat {
    width: 100%;
    height: auto;
  }
}
body {
    max-width: 100%;
  }
  .container {
    margin-top: 6rem;
  }
  .nilai-magang {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    text-align: center;
  }
  
  
  .datamentor {
    padding-bottom: 20px;
  }
  
  h4 {
    font-weight: 900;
    font-size: small;
    padding-bottom: 20px;
  }
  
  .sertif {
    max-width: 100%;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #000000;
    text-align: center;
  }
  
  .textunduh {
    color: grey;
    font-style: italic;
  }
  
  .tombolunduh {
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    background-color: #1c1a1e;
    color: white;
    font-weight: 700;
  }
  