body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
}
.login-form {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
  padding-left: 9rem;
  padding-right: 2rem;
  padding-bottom: 100px;
  margin-bottom: 4rem;
  background-color: #fff;
  color: #7227fe;
  @media screen and (max-width: 600px) {
    padding: 1rem; /* Mengurangi padding untuk tampilan mobile */
    margin-bottom: 2rem; /* Mengurangi margin untuk tampilan mobile */
  }
}


.login-form p {
  display: flex;
  margin-bottom: 10px;
}
.login-form h2 {
  margin-bottom: 40px;
  color: #7227fe;
  font-weight: 1000;
  font-size: xx-large;
}

/* Login CSS */

.login-form input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  padding-right: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    width: 100%; /* Mengatur lebar input agar memenuhi lebar tampilan mobile */
  }
}

/* .input{
  width: 30rem;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}  */
.input-group.my-custom-width {
  width: 100%;
  margin: auto;
}

.login-form button[type="submit"] {
  padding: 10px;
  background-color: #7227fe;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
  font-size: medium;
  margin-bottom: 2rem;
  margin-top: 40px;
  width: 150px;
  max-width: 100%;
}

.login-form button[type="submit"]:hover {
  background-color: #fff;
  color: #7227fe;
  border-color: #7227fe;
  font-weight: bold;
  font-size: medium;
}
.password-field {
  position: relative;
}

.password-field input[type="password"] {
  padding-right: 30px;
}

.password-field .toggle-password {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: url("https://example.com/path/to/eye-icon.png") no-repeat center center;
  background-size: cover;
  cursor: pointer;
}
/* .input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

.input-group select {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  margin-left: 16px;
} */

/* REGISTER CSS */
.register {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left:10rem;
  background-color: #7227fe;
  transform: skew(-5deg);
  transform-origin: top right;
  position: relative;
  width: 100%;
  margin-left: -5rem;
  padding-top: 10rem;
}

.register-form h3 {
  margin-bottom: 15px;
  color: #fff;
  transform: skew(5deg);
}
.register-form p {
  margin-bottom: 25px;
  color: #fff;
  transform: skew(5deg);
  margin-left: 8px;
  padding-right: 100px;
}
.register-form button {
  padding: 10px;
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  border-width: 2px;
  border-radius: 10px;
  font-weight: bold;
  font-size: medium;
  margin-bottom: 2rem;
  margin-top: 20px;
  margin-left: 20px;
  width: 100px;
  transform: skew(5deg);
}
